<div class="container ">
  <div class="section-title text-center my-3">
      <h2 class="text-primary">عرض  العملاء</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center mb-2 ">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control rounded-pill px-4" placeholder="ابحث عن اختبار">
            <button class="btn btn-primary rounded-pill px-4">
                <i class="fa-search"></i> بحث
            </button>
        </div>
    </div>
    </div>

  <div class="container mt-4 border rounded shadow-sm  p-0">
    @for(user of users ;track user.id){
      <div class="customer w-100 d-md-flex align-items-center justify-content-between p-3 border-bottom">
        <div class="d-flex align-items-center">
          <img [src]="'data:image/jpeg;base64,' + user.profilePicture"
          [alt]="user.userName"
          class="rounded-circle border me-3"
          width="80" height="80">

            <div>
                <p><i class="fa-solid fa-user me-2 px-2"></i><strong>الاسم:</strong>{{user.userName}}</p>
                <p><i class="fa-solid fa-phone me-2 px-2"></i><strong>  التليفون:</strong>{{user.phoneNumber}}</p>
                <p><i class="fa-solid fa-envelope me-2 px-2"></i><strong>البريد الإلكتروني:</strong>{{user.email}}</p>
            </div>
        </div>
        <div>
          <button  class="btn btn-danger mx-4" (click)="delete()">
            <i class="fa-solid fa-trash"></i> حذف العميل
        </button>

        <button [routerLink]="['/userDetail',user.id]" class="btn btn-info">
          <i class="fa-solid fa-eye"></i> عرض التفاصيل
        </button>
        </div>
    </div>
    }



  </div>


  <nav aria-label="التنقل بين الصفحات" class="d-flex justify-content-center m-4">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <i class="fas fa-chevron-left"></i> <!-- أيقونة السهم -->
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <i class="fas fa-chevron-right"></i> <!-- أيقونة السهم -->
            </a>
        </li>
    </ul>
  </nav>
</div>
